.dt-carrousel {
    position: relative;

    &__control {
        position: absolute;
        z-index: 1;

        &_right {
            right: 15px;
        }

        &_left {
            left: 15px;
        }
    }
}

.dt-carrousel-slides-container {
    overflow: hidden;
    position: relative;

    &__slide {
        position: absolute;
        top: 0;
        width: 100%;
    }
}