.dt-sidebar {
    &__container {
        z-index: 20;
        position: fixed;
        width: 25%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .9);
        color: #FFF;
        overflow: auto;
    }

    &__backdrop {
        z-index: 10;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
    }
}
